<div>{{ header }}</div>
<div>{{ column_left }}</div>
<div>
	{% for product in products %}
		{{product.product_id}}
	{% endfor %}
</div>
<h1 class="pull-right" >Hello world</h1>
<h2>{{ test }}</h2>
<div>{{ footer }}</div>
