{{header}}
{{column_left}}
<div class='pull-right'>
	<div>
		<div>
			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#prod-data">Show XML Products</button>
			{# <a class="btn btn-primary" href="{{get}}">Get XML Products</a> #}
			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addForm">Add Product</button>
		</div>
	</div>

	<div class="form-group">
		<div class="form-group">
			<form action="{{addXML}}" method="post">
				<input type="file" id="input-file-now" class="file-upload"/>
				<input type="submit" value="Submit file"/>
			</form>
		</div>
	</div>
	<div id="addForm" class="collapse">
		<h2>Add new product</h2>
		<form action="{{add}}" enctype="multipart/form-data" id="form1" method="post">
			<input placeholder="Product Name" type="text" name="product_name"/>
			<input placeholder="Meta tag title" type="text" name="meta_tag_title"/>
			<input placeholder="Product model" type="text" name="model"/>
			<button type="submit" form="form1">Save</button>
		</form>
	</div>
	<div class="form-group">
		<div class="form-group">
			<form action="{{addXML}}" method="post">
				<input type="text" name="xmlFile" placeholder="XML File"/>
				<input type="submit" value="Add XML"/>
			</form>
		</div>
	</div>
	{% if test  %}
		<div>{{test}}</div>
	{% else %}
		<h2>No data</h2>	
	{% endif %}

</div>
<div id="prod-data" class="collapse ">
	{{productsXML}}
</div>
{{footer}}
