{{ header }}
{{ column_left }}


<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<a class="btn btn-primary" href="{{add}}"><i class="fa fa-plus"></i></a>
				<button type="submit" formaction="{{copy}}" class="btn btn-default" form="form-product"><i class="fa fa-copy"></i></button>
				<button type="button" class="btn btn-danger" form="form-product" onclick="confirm('Are you sure you want to delete this product?') ? $('#form-product').submit() : false;"><i class="fa fa-trash-o"></i></button>
				{# <button type="button" class="btn btn-danger" formaction="delete" data-toggle="tooltip" onclick="$(#'form-product').submit()">Delete</button> #}
			</div>
			<h1>{{headint_title}}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li>
						<a href="{{breadcrumb.href}}">
							{{breadcrumb.text}}
						</a>
					</li>
				{% endfor %}
			</ul>

		</div>
	</div>

	<form action="{{delete}}" method="post" id="form-product" enctype="multipart/form-data">
		<div class="container-fluid">
			<table class="table">
				<thead>
					<tr>
						<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"/></td>
						<th scope="col">Product ID</th>
						<th scope="col">Name</th>
						<th scope="col">Model</th>
						<th scope="col">Price</th>
						<th scope="col">Quantity</th>
						<th scope="col">Status</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr>
							<td class='text-center'>
								<input type='checkbox' name='selected[]' value="{{product.product_id}}" onclick="$(this).prop('checked', this.checked);"/>
							</td>
							<td scope="row">{{product.product_id}}</td>
							<td>{{product.name}}</td>
							<td>{{product.model}}</td>
							<td>{{product.price}}</td>
							<td>{{product.quantity}}</td>
							<td>{{product.status}}</td>
							<td>
								<a class='btn btn-primary' href='{{product.edit}}'>Edit</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</form>
	{# <div class="container-fluid">
		<table class="table">
			<thead>
				<tr>
					<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"/></td>
					<th scope="col">Product ID</th>
					<th scope="col">Name</th>
					<th scope="col">Model</th>
					<th scope="col">Price</th>
					<th scope="col">Quantity</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				{% for product in products %}
					<tr>
						<td class='text-center'>
							<input type='checkbox' name='selected[]' value="{{product.product_id}}" checked='checked'/>
						</td>
						<td scope="row">{{product.product_id}}</td>
						<td>{{product.name}}</td>
						<td>{{product.model}}</td>
						<td>{{product.price}}</td>
						<td>{{product.quantity}}</td>
						<td>{{product.status}}</td>
						<td>
							<a class='btn btn-primary' href='{{product.edit}}'>Edit</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div> #}
</div>

<h1 class='pull-right'>{{results_amount}}</h1>


<button class="btn btn-primary">Save</button>
{{ footer }}
